<%-include("partials/header");  %>
    <h1 id="home-heading">How we get data ?</h1>
    <p id="homecontent"><%= hStartingContent %> </p>
    <div class="table-content">
        <table class="content-table">
            <thead>
                <tr id="head-rows">
                    <th>S.NO</th>
                    <th>Name</th>
                    <th>Vehicle No.</th>
                    <th>Unique ID</th>
                    <th>Price</th>
                    <th>Address</th>
                    <th>Timing- IN</th>
                    <th>Timing -LEAVE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Saransh </td>
                    <td>UK12A3295</td>
                    <td>121232</td>
                    <td>190</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
    
                 <tr>
                    <td>2</td>
                    <td>Vijit </td>
                    <td>UK12A2395</td>
                    <td>431232</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
    
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>Priyansh </td>
                    <td>UK12A1495</td>
                    <td>121332</td>
                    <td>140</td>
                    <td>Bandra High</td>
                    <td>10:30</td>
                    <td>1:40</td>
                </tr>
            </tbody>
        </table>

<%- include("partials/footer"); %> 